/*
 * League of Legends Viz Wiz
 * CS171 Final Project, May 2014
 * 
 * Authors: Shannon Zhu, Carl Gao, Jesse Chen
 *
*/

/* General */
html {
	height: auto;
	width: 100%;
	padding: 0;
}
body {
	width: 100%;
	height: 100%;
	background-color: #111111;
	color: #DDDDDD;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	/*font-family: 'Julius Sans One', sans-serif;/*
	/* font-family: 'Quando', serif;*/
	font-size: 1.1em;
	margin: 0;
	padding: 0;
	overflow: auto;
	background-size: 100%;
	background-position: 0px 130px;
	background-attachment: fixed;
}
.chart {
	background-color: rgba(17, 17, 17, 0.65);
	width: auto;
	display: inline-block;
}
/*
::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: #000;
}

::-webkit-scrollbar-thumb {
    background: #393812;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
    background: #000;
}
*/

/* Searchbar */
#searchbar {
	width: 100%;
	height: 130px;
	position: fixed;
	background-color: #151515;
	z-index: 50;
}
#toprow {
	width: 100%;
	height: 20px;
}
#bottomrow {
	width: 100%;
	height: 100px;
	/*border: 1px solid;
	border-radius: 5px;*/
}
#searchtextcontainer {
	margin: auto;
	width: 200px;
	height: 100%;
}
#searchicon {
	width: 30px;
	height: 20px;
	position: absolute;
}
#mglass {
	margin-top: 3px;
	max-width: 60%;
	mad-height: 60%;
}
#searchtext {
	position: absolute;
	margin-left: 20px;
}
#search {
	resize: none;
	border: 1px solid;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
textarea, input {
	outline: none;
}
#champcontainer{
	margin-top: 2px;
	width: 100%;
	height: 100%;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
}

/* Body */
#searchbarholder {
	height: 130px;
}
#content {
	width: 100%;
	height: 100%;
}

/* Name Block */
#nameblock {
	height: 100px;
	width: auto;
	margin-left: 50px;
	margin-top: 20px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	color: #DDDDDD;
	display: inline-block;
	background-color: rgba(17, 17, 17, 0.6)
}
#name {
	height: 80px;
	font-size: 65px;
}
#title {
	height: 20px;
}

/* Wins Overall */
#wins {

}

/* Linecharts */
#linecharts {
	margin: auto;
	padding: 0px;
	height: 500px;
	width: 1200px;
	margin-top: 30px;
}
#pick-div {
	width: 550px;
	padding: 10px;
	margin: 10px;
	float: left;
}
#ban-div {
	width: 550px;
	padding: 10px;
	margin: 10px;
	float: right;
}

text {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 9pt;
	/*font-weight: lighter;*/
}

.axis text {
	font: 10px sans-serif;
}

.station{
	fill:lightgrey;
	opacity: .7;
}
.station.hasData{
	fill:blue;
	opacity: 1;
}
.hourLine{
	fill:none;
	stroke:steelblue;

}
.brush .extent{
	fill:gray;
	opacity: .3;
}

.axis path,
.axis line {
	fill: none;
	stroke: #ddd;
	shape-rendering: crispEdges;
}
.line {
	fill: none;
	stroke: steelblue;
	stroke-width: 1.5px;
}

.tick {
	fill: #dddddd;
}

/* Barcharts */
#barcharts {
	margin: auto;
	padding: 0px;
	height: 500px;
	width: 1200px;
	margin-bottom: 100px;
}
#matchup-div {
	width: 550px;
	padding: 10px;
	margin: 10px;
	float: left;
}
#synergy-div {
	width: 550px;
	padding: 10px;
	margin: 10px;
	float: right;
}
