/*
 * League of Legends Viz Wiz
 * CS171 Final Project, May 2014
 * 
 * Authors: Shannon Zhu, Carl Gao, Jesse Chen
 *
*/

/* General */
html {
	height: auto;
	width: 100%;
	padding: 0;
}
body {
	width: 100%;
	height: 100%;
	transition: background 0.5s linear;
	background-color: #111111;
	color: #DDDDDD;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	/*font-family: 'Julius Sans One', sans-serif;/*
	/* font-family: 'Quando', serif;*/
	font-size: 1.1em;
	margin: 0;
	padding: 0;
	overflow: auto;
	background-size: cover;
	background-position: 0px 134px;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
.chart {
	background-color: rgba(17, 17, 17, 0.65);
	width: auto;
	display: inline-block;
	text-align: center;
}
/*
::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: #000;
}

::-webkit-scrollbar-thumb {
    background: #393812;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
    background: #000;
}
*/

/* Searchbar */
#searchbar {
	width: 100%;
	height: 134px;
	position: fixed;
	background-color: #151515;
	z-index: 50;
}
#toprow {
	width: 100%;
	height: 20px;
}
#bottomrow {
	width: 100%;
	height: 100px;
	/*border: 1px solid;
	border-radius: 5px;*/
}
#home {
	width: 40px;
	position: absolute;
	margin-left: 203px;
}
#house {
	margin-top: 2px;
	max-width: 60%;
	opacity: 0.8;
	cursor: pointer;
}
#house:hover {
	opacity: 1;
}
#searchtextcontainer {
	margin: auto;
	width: 240px;
	height: 100%;
}
#searchicon {
	width: 30px;
	height: 20px;
	position: absolute;
}
#mglass {
	margin-top: 3px;
	max-width: 60%;
}
#searchtext {
	position: absolute;
	margin-left: 25px;
}
#search {
	resize: none;
	border: 1px solid;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
textarea, input {
	outline: none;
}
#champcontainer{
	margin-top: 2px;
	width: 100%;
	height: 100%;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
	padding-bottom: 10px;
}

#champcontainer::-webkit-scrollbar {
    -webkit-appearance: none;
	width: 8px;
	height: 8px;
}

#champcontainer::-webkit-scrollbar-track:horizontal {
	height:10px;
	background: transparent;
	-webkit-border-radius: 6px;
}

#champcontainer::-webkit-scrollbar-thumb:horizontal {
height: 50px;
background-color: rgba(255,255,255,0.1);
border: 1px solid transparent;
-webkit-border-radius: 6px;
}

/* Tags */
#tags {
	font-size: 11px;
	margin-right: 20px;
	margin-top: 1px;
	float: right;
}
.tag {
	width: 30px;
	text-align: center;
	border: 1px solid #DDDDDD;
	border-radius: 3px;
	opacity: 0.85;
	display: inline-block;
	padding-left: 1px;
	padding-right: 1px;
	margin: 2px;
	cursor: pointer;
}
.tag:hover{
	opacity: 1;
}
.curr{
	opacity: 1;
	background-color: #DDDDDD;
	color: #111111;
	font-weight: bold;
}

/* Body */
#searchbarholder {
	height: 134px;
}
#content {
	max-width: 1200px;
	height: 100%;
	margin: 0 auto;
}

/* Homepage */
#headline {
	margin: 0 auto;
	font-size: 4em; 
}
#description {
	margin-top: 10px;
}
#homepage {
	height: 500px;
	width: 900px;
	margin: 0 auto;
	margin-top: 40px;
	text-align: center;
	-webkit-animation: fadein 1.3s; /* Safari and Chrome */
	   -moz-animation: fadein 1.3s; /* Firefox */
	    -ms-animation: fadein 1.3s; /* Internet Explorer */
	     -o-animation: fadein 1.3s; /* Opera */
	        animation: fadein 1.3s;
}
#acknowledgements {
	font-size: 14px;
	margin-top: 100px;
	margin-bottom: 15px;
	overflow: hidden;
}

/* Chord diagram */
#chord-div {
	margin-top: 50px;
	width: 960px;
}

/* Top 5, Bot 5 */
#top10-div {
	margin: 0;
}
.fivechart div {
  font: 10px sans-serif;
  background-color: #DDDDDD;
  padding: 8px;
  margin: 4px;
  color: #111111;
  font-size: 14px;
}
#top5 {
	display: inline-block;
	width: 45%;
}
#bot5 {
	display: inline-block;
	width: 35%;
}
#top5 div {
	background: rgb(156, 203, 25);
	text-align: right;
	float: left;
}
#bot5 div {
	background: rgb(238, 44, 44);
	text-align: left;
	float: right;
}
#toppic {
	width: 51px;
	display: inline-block;
}
#toppic img {
	max-width: 100%;
	cursor: pointer;
	padding: 4px;
}
#botpic {
	width: 51px;
	display: inline-block;
}
#botpic img {
	max-width: 100%;
	cursor: pointer;
	padding: 4px;
}
#topheaders {
	margin-top: 20px;
	margin-bottom: 4px;
	font-size: 26px;
	height: 30px;
	padding-left: 30px;
	padding-right: 30px;
}
#t {
	float: left;
}
#b {
	float: right;
}

/* Name Block */
#nameblock {
	height: 100px;
	width: auto;
	margin-left: 50px;
	margin-top: 20px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	color: #DDDDDD;
	display: inline-block;
	background-color: rgba(17, 17, 17, 0.6)
}
#name {
	height: 80px;
	font-size: 65px;
}
#title {
	height: 20px;
}

/* Wins Overall */
#wins {

}

/* Linecharts */
.linecharts {
	margin: auto;
	padding: 0px;
	height: 230px;
	width: 1200px;
	margin-top: 30px;
}
#win-div {
	width: 550px;
	padding: 10px;
	margin: 10px;
}
#time-select-div {
	width: 550px;
	padding: 10px;
	margin: 10px;
	margin-left: 25px;
}
#pick-div {
	width: 550px;
	padding: 10px;
	margin: 10px;
	float: left;
}
#ban-div {
	width: 550px;
	padding: 10px;
	margin: 10px;
	float: right;
}
.graph-title {
	font-size: 20pt;
	font-family: "Source Sans Pro", sans-serif;
}

.toggle {
	cursor: pointer
}

text {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 9pt;
	/*font-weight: lighter;*/
}

.axis text {
	font: 10px sans-serif;
}

.hourLine{
	fill:none;
	stroke:steelblue;

}
.brush .background {
	fill: rgba(255, 255, 255, 0.2);
}
.brush .extent {
	fill: steelblue;
	opacity: .9;
}

.axis path,
.axis line {
	fill: none;
	stroke: #ddd;
	shape-rendering: crispEdges;
}
.line {
	fill: none;
	stroke: steelblue;
	stroke-width: 1.5px;
}

.tick {
	fill: #dddddd;
}

/* Barcharts */
#barcharts {
	margin: auto;
	padding: 0px;
	height: 500px;
	width: 1200px;
	margin-top: 30px;
	margin-bottom: 100px;
}
#matchup-div {
	width: 550px;
	padding: 10px;
	margin: 10px;
	float: left;
}
#synergy-div {
	width: 550px;
	padding: 10px;
	margin: 10px;
	float: right;
}


/* Fade Transitions */
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Firefox */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Opera */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
